# Database connection (PostgreSQL + pgvector)
DATABASE_URL=postgresql+asyncpg://postgres:[PASSWORD]@[HOST]:5432/postgres

# JWT Auth
JWT_SECRET_KEY=your_secret_key_here

# SQL Echo (set 1 for debug queries)
SQL_ECHO=0

# Bhashini ULCA Indic Speech API (Optional)
BHASHINI_API_KEY=
BHASHINI_USER_ID=
